:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #21243D;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 876px;
	margin: 0 auto;
	padding: 0 10px;
}

/* .container.header--top {
	max-width: 1052px;
} */

.header__top {
	min-height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: -88px;
	margin-bottom: 140px;
}

.header__top.--blog,
.header__top.--works {
	margin-bottom: 100px;
}

.menu__list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu__item {
	margin-left: 33px;
}

.menu__link {
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	color: #000000;
	transition: all 0.5s ease-out;
}

.menu__link:hover {
	color: #FF7C7C;
}

.menu__link.--active {
	color: #FF7C7C;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.inner__title {
	font-weight: bold;
	font-size: 44px;
	line-height: 60px;
	color: #21243D;
}

.inner__title, .inner__text {
	margin-bottom: 40px;
}

.inner__title.--blog,
.inner__title.--works {
	margin-bottom: 20px;
}

.inner__text {
	max-width: 497px;
}

.inner__img {
	width: 243px;
	height: 243px;
	border-radius: 50%;
	box-shadow: -5px 13px #EDF7FA;
}

.btn {
	width: 208px;
	height: 47px;
	display: block;
	background-color: #FF6464;
	border-radius: 2px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
}

.posts {
	padding-top: 7px;
	background-color: #EDF7FA;
}

.posts__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.posts__title,
.works__title {
	font-size: 22px;
	line-height: 60px;
	font-weight: normal;
}

.posts__link {
	color: #00A8CC;
}

.posts__content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.posts__content--blog {
	margin-bottom: 53px;
}

.posts__content-item {
	padding: 24px;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;	
	margin-bottom: 32px;
}

.posts__content-item.--blog {
	padding: 35px 0;
	box-shadow: none;
	border-radius: initial;
	border-bottom: 1px solid #E0E0E0;
}

.content-item__title {
	margin-bottom: 17px;
	font-weight: bold;
	font-size: 26px;
	line-height: 38px;
}

.content-item__title.--blog {
	font-weight: 500;
	font-size: 30px;
	line-height: 44px;
}

.content-item__subtitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 26px;
}

.content-item__subtitle.--blog {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
}

.content-item__subtitle p:first-child {
	padding-right: 26px;
	border-right: 1px solid #000000;
}

.content-item__subtitle.--blog p:nth-child(2) {
	color: #8695A4;
}

.content-item__subtitle p:nth-child(2) {
	margin-left: 26px;
	margin-right: auto; 
}

.works__content {
	margin-bottom: 83px;
}

.works__content.--blog {
	margin-bottom: 58px;
}

.works__content-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 18px;
	padding: 30px 0;
	border-bottom: 1px solid #E0E0E0;
}

.works__inner-title {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 44px;
}

.works__inner-subtitle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.works__inner-subtitle a {
	width: 62px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 26px;
	font-weight: 900;
	font-size: 18px;
	/* line-height: 60px; */
	color: #FFFFFF;
	background: #142850;
	border-radius: 16px;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.works__inner-subtitle a:hover {
	background-color: #FF7C7C;
}

.works__inner-subtitle span {
	font-size: 20px;
	line-height: 29px;
	color: #8695A4;
}


.footer {
	min-height: 182px;
	padding-top: 51px;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	margin-bottom: 26px;
}

.footer__copyright {
	margin-bottom: 54px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}